@page
@model FreshFarmMarket.Pages.Errors.InternalServerErrorModel
@{
    ViewData["Title"] = "Server Error";
}
<h2>500 - Server Error</h2>
<p>Oops! Something went wrong. Please try again later.</p>
<a href="/" class="btn btn-primary">Go to Homepage</a>
